:root {
    --primary-color: #00E4C9;
    --primary-color-hover: #128b88;
    --secondary-color: #318684;
    --secondary-color-hover: #173049;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

body {
    font-family: 'Nunito', sans-serif;
}

.table th, .table th a {
    color: #555 !important;
}
.horizontal-menu .main-menu a, .navbar-default .navbar-nav > li > a, .horizontal-menu .main-menu ul li a, .navbar-expand-lg .navbar-nav .nav-link {
    font-family: 'Nunito', sans-serif;
}

.dropdown-toggle {
    padding: 1.2rem 2.14rem 1.2rem 1.07rem !important;
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color-hover);
}

.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-primary:hover {
    border-color: var(--primary-color-hover);
    background: var(--primary-color-hover);
}

.db-modern .header {
    background: #fff;
}

.horizontal-menu {
     background-image: linear-gradient(to right, var(--primary-color), var(--primary-color-hover));
 }

.horizontal-menu .main-menu .collapse ul ul,
.horizontal-menu .main-menu .collapse ul ul.dropdown-menu {
    background: var(--primary-color);
}

.horizontal-menu a {
    color: #fff !important;
}

.horizontal-menu a:hover {
    background: var(--primary-color-hover);
}

.c-primary {
    color: var(--primary-color);
}

a.c-primary {
    color: var(--primary-color);
}

a.c-primary:hover {
    color: var(--primary-color-hover);
}

.c-green {
    color: green;
}

.c-red {
    color:  red;
}

.c-grey {
    color: grey;
}

.fw-normal {
    font-weight: normal;
}

.reorder-icon-cell:hover {
    cursor: move;
}

.tag {
    background: slategray;
    border: 1px solid darkslategrey;
    color: white;
    padding: 3px 6px;
    margin: 0 3px 6px;
    font-size: 0.8rem;
}