.btn-primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-hover);
}

body {
    font-family: 'Nunito', sans-serif;
}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--primary-color-hover);
}

a:focus, a:active {
    color: var(--primary-color-hover);
}

.btn-outline-primary {
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-outline-primary:hover {
    border-color: var(--primary-color-hover);
    background: var(--primary-color-hover);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--primary-color) !important;
}

.required {
    color: red;
}